p {color: orange; 
    width: 300px; 
    text-align: justify; 
    font: 30px/1.5 "Courier New";
    text-indent: 50px;
    text-decoration: line-through;}
h1 {color: green; 
    font-size: 50px; 
    text-align: center;}
h2 {color: blue; 
    font-style: italic; 
    font-size: 40px; 
    font-weight: normal;}
h3 {color: red;}

b {color: rgb(243,114,90);}
i {color: #B53AD4;}

table {width: 500px; 
    height: 300px;}
td {text-align: center; 
    font-weight: bold;}
th {font-weight: normal;}

a { color: red;
	text-decoration: none;}